
doctype html

html
    head
        title Dance school 
        //- block scripts
        block style  
    body
        block content
        
            #footer 
               h3#heading5 All right reserved Copyright @ Adarsh Mishra