doctype html 
html 
    title Dance school 
head 
    style                  
        include ../static/Home.css
body
    nav#nav
        ul 
            li  #[a.navel(href='/') Home]

            li  #[a.navel(href='/about') about]

            li  #[a.navel(href='/contact') Contact us]

            li  #[a.navel(href='/join') join us]

    div#introsection
             h1#heading1 Let loose and hit the dance floor
             #topsection
                 h2#heading2 Welcome to Adarsh's Dance Academy 
                      h3#heading3 Eat Sleep Dance Repeat 
             .grid
                   .grid-element#gridelement1
                   .grid-element#gridelement2 
                   .grid-element#gridelement3
                   .grid-element#grid-special1
                     p. 
                       We offer a wide range of articles, videos, and tutorials on different dance styles, techniques, and tips. Our team of expert dancers and instructors are here to help you improve your skills and take your dancing to the next level.
                   .grid-duplicate
                      button(type="submit" id="btn") Submit
                   .grid-element#grid-special2 
                     p. 
                       Our website is dedicated to all things dance - from ballet to hip hop, contemporary to ballroom, we've got it all covered. Whether you're a beginner looking to take your first steps, or a seasoned pro looking to perfect your craft, our website is the perfect resource for you.
                   .grid-element#gridelement4
                   .grid-element#gridelement5
                   .grid-element#gridelement6    
    div#subsections
             .grid1 
                   .grid-element1#gridelelment11 
                     p. 
                       We offer a wide range of articles, videos, and tutorials on different dance styles and techniques. Our content is accessible to everyone, regardless of their skill level or experience.We have a directory of dance schools and studios across the country, making it easy for users to find a dance class near them. Users can browse through the list and find the perfect dance class for them.
                   .grid-element1#gridelelment12 item
                   .grid-element1#gridelelment13 item
                   .grid-element1#gridelelment14 
                     p. 
                        Our website is also a platform for dance enthusiasts to connect with each other. Users can join our community and participate in discussions, share their experiences, and stay up-to-date with the latest news, events, and performances in the dance world. We have a dedicated Contact Us page where users can reach out to us with any queries, feedback, or suggestions they may have. Our team is always ready to assist our users and provide them with the best possible experience on our website.
    #sponsors 
       h2#heading4 Sponsors 
       #logo 
          div#logo1 
            img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsqT-8uxGBbMfQsNR5IHm_3EWTlVKLpR3aLV8uMrRE3g&usqp=CAU&ec=48665698',alt='logo')
          div#logo2 
             img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKwyg2P81tkJCkhK-iXlTjS7unKLrsQlhBP_YgTCiyfw&usqp=CAU&ec=48665698',alt='logo') 
          div#logo3 
             img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8EHSz7zN1CFfX0gAKED8StLGQbAukTrJb1lmdrRAn5Q&usqp=CAU&ec=48665698',alt='logo')
          div#logo4  
             img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg0s4cwREGKO9u4gl0lRvtkX-zWOoZ3RwArjrqXsndmQ&usqp=CAU&ec=48665698',alt='logo')                  
    #footer 
       h3#heading5 All right reserved Copyright @ Adarsh Mishra         